.modal_overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.dialog {
    position: fixed;
    border: solid 3px;
    top: 45%;
    left: 45%;
    background-color: white;
}

.editable {
    color: blue;
    text-decoration: underline;
}

span {
    margin: 2px 4px 2px 4px;
}

.db_class {
    margin: 10px;
}

.field {
    margin-left: 40px;
}

.class_code_name {
    font-weight: bold;
}